body {
}

#banner {
  width: 100%;
  height: auto;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.tituloPrincipal {
  padding-left: 20px;
}

.tituloCentralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15px;
}

.imagemBeneficios {
  width: 50%;
}
