body {
  font-family: 'Montserrat', sans-serif;
}

/* csss da página inicial */
.banner {
  width: 100%;
}

.tituloPrincipal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

/* marcar só a primeira letra 
.tituloPrincipal::first-letter {
  font-weight: bold;
}*/

/* deixar a primeira linha do texto em itálico
p::first-line {
  font-style: italic;
}*/

/* coloca um caracter no início da linha
.tituloPrincipal::before {
  content: '[';
}*/

/* coloca um caracter no fim da linha
.tituloPrincipal::after {
  content: ']';
}*/

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.beneficios {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.conteudoBeneficios {
  width: 640px;
  margin: 0 auto;
}

.listaBeneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5em;
}

.itens::before {
  content: '★ ';
}

.itens:first-child {
  font-weight: bold;
}

.imagemBeneficios {
  width: 60%;
  opacity: 1;
  transition: 450ms;
  box-shadow: 10px 10px 5px #000000;
}

.imagemBeneficios:hover {
  opacity: 0.7;
}

.video {
  width: 560px;
  margin: 2em auto;
}

.mapa {
  padding: 3em 0;
  background: #888888;
}

.mapaConteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

/* css tela produtos */

header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto auto auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0px auto;
  padding: 50px 0px;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0px 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #ff0000;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produtoDescricao {
  font-size: 18px;
}

.produtoPreco {
  font: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url('../img/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0 0;
}

form {
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 20px 0 10px;
}

.inputPadrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;
  border-radius: 10px;
}

.checkbox {
  margin: 20px 0;
}

.enviarFormulario {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  transition: 1s all;
}

.enviarFormulario:hover {
  background: #c78c19;
  cursor: pointer;
  transform: scale(1.2);
}

.enviarFormulario:active {
  background: #ff0000;
}

table {
  margin: 20px 40px;
  width: 100%;
}

thead {
  background: #a7a7a7;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/*selecionar primeiro filho direto depois do main
main > p{

}*/

/* selecionar primeiro parágrafo que vem após a img
img + p{
}*/

/* selecionar todos parágrafos que vem após a img
img ~ p

/* selecionar todos parágrafos que não são a #missa
.principal p:not(#missao){
}*/

/* calcular com css
.beneficios{
  width: calc(40% - 26px);
}/*


/* Media queries */

@media screen and (max-width: 480px) {
  /* tela home */
  .caixa,
  .principal,
  .conteudoBeneficios,
  .mapaConteudo,
  .video {
    width: auto;
  }
  ul {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .listaBeneficios {
    width: 100%;
  }
  .imagemBeneficios {
    width: 90%;
    margin: 2em 18px 10px;
  }
  .principal p {
    padding-left: 10px;
  }
  .utensilios {
    width: 80px;
    float: left;
    padding-left: 10px;
  }
  .video {
    margin: 2em 10px 10px;
  }
  .mapaConteudo {
    margin: 2em 10px 10px;
  }

  /* tela produtos */
  .produtos,
  .produtos li {
    width: 90%;
    padding: 20px;
    margin: 5px;
  }

  /* tela contato */
  main {
    margin: 0px;
  }
  form {
    margin: 20px 0 30px 30px;
  }
  form label,
  form legend {
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
  }
  .enviarFormulario {
    width: 80%;
    padding: 3%;
  }
  .inputPadrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 70%;
  }
  table {
    margin: 40px 0 0;
    width: 95%;
  }
}
